.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 108px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
}
.para1 {
    flex: 1;
    font-size: 1.4rem;
    min-width: 300px;
}
.picture {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.picture img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 8px; 
}

.buttons {
    margin-top: 20px;
}
.btn1, .btn2 {
    margin-right: 8px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #0a66c2;
    cursor: pointer;
}
.btn1 {
    background-color: #0a66c2;
    color: white;
}

.btn2 {
    background-color: white;
    color: #0a66c2;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 108px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #dde4e9;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    flex: 1;
    padding-left: 12px;
}
.item h1{
    font-size: 1.2rem;
    padding-left: 65px;
    font-weight: 800;
    margin-bottom: 4px;
}

.item p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #444;
}